<div class="container">
  <h3 class="text-center my-5 text-success">User Login</h3>
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-5">
        <div class="border p-3 rounded bg-light">
          <form method="post">
            <div class="form-group">
              <label for="email">Email</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <input value="{{account.email}}" name="email" id="email" type="text" class="form-control" placeholder="Email">
              </div>

            </div>
            <div class="form-group">
              <label for="pass">Password</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <input name="password" id="pass" type="password" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label" for="customCheck">Remember</label>
              </div>
            </div>
            {{#if flash}}
            <div class="form-group">
              <div class="alert alert-{{flash.type}} alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{flash.message}}
              </div>
            </div>
            {{/if}}
            <div class="form-group">
              <button class="btn btn-success px-5" type="submit">Login</button>
              <a href="/auth/facebook" class="btn btn-success px-5" >Login to Facebook</a>
            </div>
            <div class="form-group">
              <p>Don't have any account? <a href="/register">Register now!</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>