<!doctype html>

<html>

<head>

<title>Web Travel</title>
<link rel="stylesheet" style="width: 100px;" href="/css/bootstrap.css">
</head>

<body>

<header>

<img src="/img/logo.png" alt="Web Travel Logo">

</header>

{{{body}}}

</body>
<script language="javascript" src="/js/bootstrap.js"></script>
</html>