<!doctype html>

<html>

<head>

<title>Web Travel</title>
<link rel="stylesheet" href="{{static "/css/main.css"}}">
</head>

<body>

<header>

<img src="{{static "/img/logo.png"}}" alt="Web Travel Logo">

</header>

{{{body}}}

</body>
<script language="javascript" src="/js/bootstrap.js"></script>
</html>